<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width initial-scale=1.0">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">
        <link href="/css/bootstrap.css" rel="stylesheet" media="screen"> 
              
        <link href="/css/my-styles.css" rel="stylesheet" media="screen">
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">
         <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
       

    </head>
    <body>
       <div class="container">
         <div class="row">
           

         <div class="col-sm-3"> 
             
           
            </div>         
            

           <div class="col-sm-6"> 
               <a class="main-logo pull-left" href="#"></a>
               <h1>SERVICES</h1>
               <h5>Accounts Writing &amp; Finance Management Services</h5>
                
     
            </div>
          

     <div class="col-sm-3"> 
             
           
            </div>

       
                 </div>       
  

       
                {{ content }}

                <footer>
              <div class="contact">
                <div class="row"> 
                  

             <div class="col-sm-10"> 
                  <div class="contact-title">
                   <p><img src="images/earphone.png" width="32" height="32">
                    CONTACT US</p>
                  </div>

                  

                      <div class="col-sm-6">                        
                        <address>
                          
                          Office No. 001, Laxmi Sadan, <br>
                          Near Swami Narayan Mandir,<br>
                          Kesarbag, Gokhale Road,<br>  
                          Near Mulund Railway Station,<br>                
                          Mulund (East),<br>
                          Mumbai 400081.<br><br>
      </address>
         </div>
                      
                     <div class="col-sm-6">
                         <address>
                          Landline : +91-22-21633828<br>
                          Mobile : +91 9930462007 <br>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   : +91 9930789292<br>
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;    : +91 8879447950 <br>                     
                          Email  : <a href="mailto:contact@accfinservices.com">contact@accfinservices.com </a><br> 
        Web  &nbsp;  : <a href = "http://www.accfinservices.com/">www.accfinservices.com </a>
                
                       </address>
                      </div>

                      

                      
                </div>

               

                </div>
              </div>
            </footer>
            


                  </div>
        </div> <!-- /container -->

    </body>
</html>
